%div[@model, :id]{:state => :staged}
  %h2
    = t.game.no_title(id)
  .player_count
    = t.game.no_players(players.count)
  %input{name: "game_membership[game]", value: id, type: "hidden"}
  %input{name: "submit", type: "submit", value: t.game.join}
