%div[@model, :id]
  %h2
    = link_to name, resource(@model)
  -if user && ! banned?(user)
    = partial './new_game'
  .info
    = t.leagues.no_of_players(@model.players.count) # TODO Make this work for vouch_required => true
