- enhance_block(:game_actions) do
  .join
    - if @create_message
      = link_to @create_message, resource(:players, :new)
    - elsif @playing_message
      = link_to @playing_message, resource(@player.where_playing)
    - elsif @league_message
      = link_to @league_message, resource(@game.league)
    - else
      -# form_for
