#global_menu
  = block(:global_menu) do
    %ul
      %li
        = link_to t.league.title, resource(:leagues)
      %li
        = link_to t.player.title, resource(:players)
      %li
        = link_to t.game.title, resource(:games)
