#global_menu
  = block(:global_menu) do
    %ul
      %li
        = link_to t.leagues.title, resource(:leagues)
      %li
        = link_to t.players.title, resource(:players)
      %li
        = link_to t.games.title, resource(:games)
