#non_personal
  %form(action="/login" method="post")
    .login
      %label(for="login") Login
      %input#login(name="player[login]" type="text" size=30 maxlength=30)
    .password
      %label(for="password") Password
      %input#password(name="player[password]" type="password" size=30 maxlength=30)
    %input(name="submit" type="submit" value="Let's get going!")
