#non_personal
  %form(action="/name" method="post")
    .name
      %label(for="name") Login
      %input#name(name="player[name]" type="text" size=30 maxlength=30)
    .password
      %label(for="password") Password
      %input#password(name="player[password]" type="password" size=30 maxlength=30)
    %input(name="submit" type="submit" value="Let's get going!")
